body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* #74B27B #FACF55 #E96950 #FDF6EF */

.map {
  border: 5px solid #E96950;
  background-color: #FACF55
}
