body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-image: url("../img/lune.jpg"); */
}

/* #74B27B #FACF55 #E96950 #FDF6EF */

.map {
  border: 5px solid #e96950;
  /* background-color: #FACF55 */
  background-image: url("../img/texture_sol_2.jpg");
  background-size: cover;
}
